In [37]:
import pandas as pd

youtube_path = "../data/youtube_raw.csv"
gdelt_path = "../data/gdelt_raw.csv"

In [38]:
yt = pd.read_csv(youtube_path)
print("YouTube raw shape:", yt.shape)

YouTube raw shape: (99620, 9)

In [39]:
gd = pd.read_csv(gdelt_path)
print("GDELT raw shape:", gd.shape)

GDELT raw shape: (81477, 10)

In [40]:
print("YouTube columns:", yt.columns.tolist())
yt.head()

YouTube columns: ['video_id', 'video_title', 'channel', 'video_published_at', 'comment_id', 'comment_text', 'comment_likes', 'comment_published_at', 'keyword']

,video_id,video_title,channel,video_published_at,comment_id,comment_text,comment_likes,comment_published_at,keyword
0,2IK3DFHRFfw,Generative AI in a Nutshell - how to survive a...,Henrik Kniberg,2024-01-20T15:47:20Z,Ugz3qfJEdXWWhCeyvCJ4AaABAg,Book version is now available on Amazon and Le...,151,2025-01-10T11:04:56Z,generative ai
1,2IK3DFHRFfw,Generative AI in a Nutshell - how to survive a...,Henrik Kniberg,2024-01-20T15:47:20Z,UgzCxyYCK4SVJrfk9HJ4AaABAg,This is the most engaging tutorial I‚Äôve ever s...,0,2025-12-07T06:59:40Z,generative ai
2,2IK3DFHRFfw,Generative AI in a Nutshell - how to survive a...,Henrik Kniberg,2024-01-20T15:47:20Z,Ugy6_tAXadZvaoMqa3l4AaABAg,"A very good place to start. Short, easy to und...",0,2025-12-05T20:21:48Z,generative ai
3,2IK3DFHRFfw,Generative AI in a Nutshell - how to survive a...,Henrik Kniberg,2024-01-20T15:47:20Z,UgwdwVpipQuNmZ41X5B4AaABAg,Perfect video ! \nvery educational üëçüèª\nMany th...,0,2025-11-29T11:31:57Z,generative ai
4,2IK3DFHRFfw,Generative AI in a Nutshell - how to survive a...,Henrik Kniberg,2024-01-20T15:47:20Z,Ugz4UrZMLsCfggZjxaZ4AaABAg,Amazing explanation. Thank-you,0,2025-11-28T05:23:54Z,generative ai

In [41]:
print("GDELT columns:", gd.columns.tolist())
gd.head()

GDELT columns: ['url', 'title', 'source_domain', 'language', 'country', 'published_at', 'tone', 'keyword', 'source', 'published_at_iso']

,url,title,source_domain,language,country,published_at,tone,keyword,source,published_at_iso
0,https://www.crn.com/slide-shows/channel-progra...,Gartner : 12 Top Strategic Technology Trends F...,NaN,English,NaN,20220111T001500Z,NaN,generative ai,gdelt,NaN
1,https://www.forbes.com/sites/forbesbusinesscou...,Preparing Businesses For The Metaverse And Omn...,NaN,English,NaN,20220131T134500Z,NaN,generative ai,gdelt,NaN
2,https://www.crn.com.au/news/gartner-12-top-str...,Gartner : 12 top strategic technology trends f...,NaN,English,NaN,20220111T013000Z,NaN,generative ai,gdelt,NaN
3,https://www.pinkvilla.com/tech/reviews/wiser-h...,Wiser Home Automation Kit Review : One - Stop ...,NaN,English,NaN,20220128T114500Z,NaN,generative ai,gdelt,NaN
4,http://www.itnewsonline.com/PRNewswire/Moviebo...,Moviebook CSAI Solution Facilitates Digital Tr...,NaN,English,NaN,20220105T081500Z,NaN,generative ai,gdelt,NaN

In [42]:
gd["published_at_dt"] = pd.to_datetime(
    gd["published_at"],
    format="%Y%m%dT%H%M%SZ",
    errors="coerce",
    utc=True
)

In [43]:
print("YouTube info:")
yt.info()
print("\nMissing values (YouTube):")
print(yt.isna().sum())

YouTube info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99620 entries, 0 to 99619
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   video_id              99620 non-null  object
 1   video_title           99620 non-null  object
 2   channel               99620 non-null  object
 3   video_published_at    99620 non-null  object
 4   comment_id            99620 non-null  object
 5   comment_text          99596 non-null  object
 6   comment_likes         99620 non-null  int64
 7   comment_published_at  99620 non-null  object
 8   keyword               99620 non-null  object
dtypes: int64(1), object(8)
memory usage: 6.8+ MB

Missing values (YouTube):
video_id                 0
video_title              0
channel                  0
video_published_at       0
comment_id               0
comment_text            24
comment_likes            0
comment_published_at     0
keyword                  0
dtype: int64

In [44]:
print("GDELT info:")
gd.info()
print("\nMissing values (GDELT):")
print(gd.isna().sum())

GDELT info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81477 entries, 0 to 81476
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   url               81477 non-null  object
 1   title             81437 non-null  object
 2   source_domain     0 non-null      float64
 3   language          81477 non-null  object
 4   country           0 non-null      float64
 5   published_at      81477 non-null  object
 6   tone              0 non-null      float64
 7   keyword           81477 non-null  object
 8   source            81477 non-null  object
 9   published_at_iso  0 non-null      float64
 10  published_at_dt   81477 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(4), object(6)
memory usage: 6.8+ MB

Missing values (GDELT):
url                     0
title                  40
source_domain       81477
language                0
country             81477
published_at            0
tone                81477
keyword                 0
source                  0
published_at_iso    81477
published_at_dt         0
dtype: int64

In [45]:
yt["comment_published_at_dt"] = pd.to_datetime(
    yt["comment_published_at"], errors="coerce"
)

print("YouTube date range (comments):")
print("  min:", yt["comment_published_at_dt"].min())
print("  max:", yt["comment_published_at_dt"].max())

YouTube date range (comments):
  min: 2022-03-11 10:06:07+00:00
  max: 2025-12-08 12:47:51+00:00

In [49]:
print("GDELT date range (articles):")
print("  min:", gd["published_at_dt"].min())
print("  max:", gd["published_at_dt"].max())

GDELT date range (articles):
  min: 2022-01-01 00:00:00+00:00
  max: 2025-12-08 11:45:00+00:00

In [47]:
summary = pd.DataFrame([
    {
        "dataset": "youtube",
        "n_rows": len(yt),
        "n_columns": yt.shape[1],
        "n_missing_text": yt["comment_text"].isna().sum(),
        "date_min": yt["comment_published_at_dt"].min(),
        "date_max": yt["comment_published_at_dt"].max(),
    },
    {
        "dataset": "gdelt",
        "n_rows": len(gd),
        "n_columns": gd.shape[1],
        "n_missing_text": gd["title"].isna().sum(),
        "date_min": gd["published_at_dt"].min(),
        "date_max": gd["published_at_dt"].max(),
    },
])

summary

,dataset,n_rows,n_columns,n_missing_text,date_min,date_max
0,youtube,99620,10,24,2022-03-11 10:06:07+00:00,2025-12-08 12:47:51+00:00
1,gdelt,81477,11,40,2022-01-01 00:00:00+00:00,2025-12-08 11:45:00+00:00

In [48]:
summary_path = "../results/tables/data_overview.csv"
summary.to_csv(summary_path, index=False)
summary_path

'../results/tables/data_overview.csv'